.histroyListItem
{
	height: 23%;
	/*border: 1px solid red;*/
	border-bottom: 2px solid gainsboro;
}
.HistroyscenicImg
{
	width: 30%;
	height: 100%;
	/*border: 1px solid black;*/
	float: left;
}
#HistroyScenicImg
{
	width: 90%;
	margin-top: 20%;
	margin-left: 5%;
}
.histroyInfo
{
	width: 60%;
	height: 100%;
	/*border: 1px solid black;*/
	float: left;
}
#ScenicName
{
	margin-left: 3%;
}
.applyTime
{
	display: inline-block;
	margin-top: 3%;
	margin-left: 3%;
	background: url(../img/9-7申请时间底图.png) no-repeat;
	background-size:100% ;
	padding-bottom: 4%;
	padding-left: 2%;
	padding-right: 2%;
	color: white;
}
.cancelTime
{
	isplay: inline-block;
	margin-top: 3%;
	margin-left: 3%;
	background: url(../img/9-8取消时间底图.png) no-repeat;
	background-size:100% ;
	padding-bottom: 4%;
	padding-left: 2%;
	padding-right: 2%;
	color: white;
}
