html,body
{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	overflow-y: scroll;
}
.guideImg
{
	height: 30%;
}
#GuideImg
{
	height: 100%;
	width: 100%;
}
.backIcon
{
	position: absolute;
	top: 2%;
	left: 5px;
	width: 8%;
}

#GuideName1
{
	display: inline-block;
	/*position: absolute;*/
	margin-top: 10%;
	margin-left: 4%;
	vertical-align: top;
	
}
#GuideSex1
{
	float: right;
	margin-top: 10%;
	margin-right: 10%;
	color: red;
	border: 1px solid red;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 0.9em;
}
#GuideScenic1
{
	float: right;
	margin-top: 10%;
	font-size: 0.8em;
	margin-right: 3%;
}
#name
{
	color: white;
	position: absolute;
	top: 3%;
	left: 40%;
	font-family: "微软雅黑";
	font-size: 1.1em;
}
#guideIntro
{
	margin-top: 20%;
	text-indent: 2em;
	text-align: justify;
	margin-left: 4%;
	margin-right: 4%;
}
.bar1
{
	height: 4%;
	margin-right: 0px;
	background: url(../img/各模块间隔条.png) no-repeat;
	background-size:cover ;
}
.judge
{
	width: 12%;
	margin-left: 2%;
}
.judgeInfo
{
	margin-bottom: 24%;
}
.judgeSpan
{
	display: inline-block;
	margin-top: 3%;
	vertical-align: top;
}
.judgeNum
{
	display: inline-block;
	margin-top: 3%;
	vertical-align: top;
}
ul
{
	margin: 0;
	padding: 0;
}
li
{
	display: inline-block;
	list-style: none;
	margin-top: 6%;
	border-bottom: 1px solid gainsboro;
	font-size: 0.9em;
}
.visitorNickName
{
	float: left;
	margin-left: 4%;
	margin-top: -4%;
}
.visitorDate
{
	float: right;
	margin-top: -4%;
	margin-right: 3%;
}
.visitorJudge
{
	padding-top:4%;
	margin-left: 4%;
	margin-right: 2%;
	font-size: 0.9em;
}
.enterScenic
{
	position: absolute;
	bottom: 2%;
	width: 38%;
	height: 8%;
	margin-left: 10%;
	background: url(../img/1-4进入景区按钮底图.png) no-repeat;
	background-size:cover ;
	color: white;
	padding-top: 3%;
	padding-bottom: 2%;
	padding-left: 10%;
	border: none;
}
.isOrder
{
	position: absolute;
	bottom: 2%;
	width: 38%;
	height: 8%;
	margin-left: 55%;
	background: url(../img/1-5立即预约按钮底图.png) no-repeat;
	background-size:cover;
	color: white;
	padding-top: 3%;
	padding-bottom: 2%;
	padding-left: 12%;
	border: none;
}
.judgeAllNum
{
	font-size: 0.8em;
	color: #31B6E7;	
}
#judgeAllNumId
{
	margin-left: 3%;
}
.hide
{
	display: none;
}
