body
{
	/*overflow: hidden;*/
	position: fixed;
}
table
{
	height: 100%; 
	width: 100%; 
	border-spacing:0px ;
	/*border: 1px solid yellow;*/
}
tr
{
	height: 50%; 
	width: 100%; 
	/*border: 1px solid black;*/
}
.middleInfo td
{
	background-color: #2489fb;
	border: none;
	border: 1px solid #1F79D7 	;
}
.middleInfo
{
	height: 30%; 
	/*border: 1px solid red;*/
}
#GuideName
{
	margin-top: -55px;
	position: absolute;
	color: white;
	left: 0;
	margin-left: 20px;
	font-size: 1.1em;
}
.percentDiv
{
	margin-top: -35px;
	position: absolute;
	left: 0;
	margin-left: 20px;
	color: white;
	display: inline;
}
#Percent
{
	display: inline;
}
.background
{
	height: 43%;
	/*border: 1px solid red;*/
	background-color: #2489fb;
	margin-top: -1px;
	font-size: .9em;
}

.GradeNumMoney,.NumMoney
{
	height: 20%;
	/*border: 1px solid red;*/
}
.grade,.orderNum,.totalMoney,.numMoney
{
	height: 50%;
	/*border: 1px solid black;*/
	width: 33%;
	
}
.gradeP
{
	padding: 0;
	margin: 0;
	color: white;
	text-align: center;
	margin-top: 5px;
	margin-left: 5px;
	font-size: .9em;
}
#Grade,#OrderNum,#TotalMoney,#totalVisNum,#monthOrderNum,#monthMoney
{
	padding: 0;
	margin: 0;
	color: white;
	text-align: center;
	margin-left: 4%;
	font-size: 1.3em;
}
.contrastIcon
{
	width: 40px;

}
.contrastSpan
{
	color: white;
	margin-top: 8px;
	position: absolute;
	font-size: 18px;
}
.left
{
	color: white;
	margin-left: 10%;
}
.right
{
	color: white;
	float: right;
	margin-right: 10%;
}
.right1
{
	color: white;
	float: right;
	margin-right: 30%;
}
.right2
{
	color: white;
	float: right;
	margin-right: 26%;
}
