html,body
{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	overflow-y: scroll;
}
.guideImg
{
	height: 35%;
}
.guideInfo1
{
	width: 100%;
	margin-right:5px ;
}
.headImgDiv
{
	height: 40px;
	margin-top: -8%;
}
.guideHead
{
	width: 80px;
	height: 80px;
	margin-top: -45px;
	margin-left: 40px;
	border-radius:50% ;
	
}
#GuideImg
{
	height: 80%;
	width: 100%;
}
#GuideName1
{
	
	margin-left: 125px;
	margin-top: -40px;
	color: #666666;
}
#GuideSex1
{
	width:13px;
	height: 20px;
	margin-top: -22px;
	margin-left: 180px;
	/*color: red;
	border: 1px solid red;*/
	padding-left: 8px;
	font-size: 0.9em;	
}
#GuideScenic1
{
	color: #666666;
	float: right;
	margin-top: -15px;
	font-size: 0.8em;
	margin-right:20px;
}
#name
{
	color: white;	
	display: block;
	margin-top: -190px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 1.1em;
}
#guideIntro
{
	margin-top: 10px;
	text-indent: 2em;
	text-align: justify;
	margin-left: 4%;
	margin-right: 4%;
}
.bar1
{
	height: 5px;
	margin-right: 0px;
	background: url(../img/各模块间隔条.png) no-repeat;
	background-size:cover ;
	margin-top: 20px;
}
.judge
{
	width: 40px;
	margin-left: 2%;
}
.judgeInfo
{
	margin-bottom: 24%;
	height: 100%;
}
.judgeSpan
{
	display: inline-block;
	margin-top: 2.5%;
	vertical-align: top;
}
.judgeNum
{
	display: inline-block;
	margin-top: 2.5%;
	vertical-align: top;
}
ul
{
	margin: 0;
	padding: 0;
	height: 100%;
}
li
{
	width: 100%;
	display: inline-block;
	list-style: none;
	margin-top: 6%;
	border-bottom: 1px solid gainsboro;
	font-size: 0.9em;
	height: 60px;
}
.visitorNickName
{
	float: left;
	margin-left: 4%;
	margin-top: -4%;
	/*border: 1px solid red;*/
	width: 30%;
	display: block;
	height: 25px;
}
.visitorDate
{
	width: 30%;
	/*border: 1px solid blue;*/
	float: right;
	margin-top: -4%;
}
.visitorJudge
{
	padding-top:4%;
	margin-left: 4%;
	margin-right: 2%;
	font-size: 0.9em;
	height: 20%;
}
.enterScenic
{
	position: absolute;
	bottom: 13%;
	width: 38%;
	height: 40px;
	margin-left: 10%;
	background: url(../img/1-4进入景区按钮底图.png) no-repeat;
	background-size:cover ;
	color: white;
	padding-left: 10%;
	border: none;
	font-size: 16px;
}
.isOrder
{
	position: absolute;
	bottom: 13%;
	/*left: -20%;*/
	width: 38%;
	height: 40px;
	margin-left: 55%;
	background: url(../img/1-5立即预约按钮底图.png) no-repeat;
	background-size:cover;
	color: white;
	padding-left: 10%;
	border: none;
	font-size: 16px;
}
.judgeAllNum
{
	font-size: 0.8em;
	color: #31B6E7;	
}
#judgeAllNumId
{
	margin-left: 3%;
}
.hide
{
	display: none;
}
.allJudge
{
	float: right;
	width: 35%;
	margin-top: 15px;
}
.boy{
	background-image: url('../img/boy.png');width: 20px;height: auto;
}
.girl{
	background-image: url('../img/girl.jpg');color: white;
}
#sexxx{
	display: none;
}