html,body
{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";	
	overflow: scroll;
}
.tabHead
{
	background: url(../img/5-1顶部底图.png) no-repeat;
	background-size:cover;
	height: 45px;
	text-align: center;
	/*border: 1px solid red;*/
}
#OrderTab
{
	display: inline-block;
	width: 100px;
	margin-left: 10%;
	font-size: 20px;
	color: white;
	margin-top: 10px;
}
#ReleaseTab
{
	display: inline-block;
	width: 100px;
	margin-left: 20px;
	color: white;
	margin-top: 10px;
}
.selected
{
	border-bottom: 3px solid white;
	padding-bottom: 3px;
}
.selectScenic
{
	width: 65%;
	height: 6%;
	background-color: #efece6;
	border-radius: 30px;
	border: none;
	margin-left: 4%;
	margin-bottom: 6px;
	padding-left: 20%;
	padding-bottom: 4px;
}
.select
{
	width: 24%;
	height: 6%;
	background: url(../img/3-1筛选底图.png) no-repeat;
	background-size:100% ;
	border: none;
	margin-top: 4%;
	margin-left: 2%;
	padding-top: 2%;
	padding-bottom: 3%;
	font-size: 1.1em;
}
.bar
{
	height: 5px;
	width: 100%;
	background-color: #f0f3fb;
}
#guideList
{
	height: 100%;
	width: 100%;
}
.listItem
{
	height: 20%;
	/*border: 1px solid red;*/
	border-bottom: 1px solid gainsboro;
	margin-top: 2%;
}
.head
{
	width: 30%;
	height: 100%;
	/*border: 1px solid red;*/
	float: left;
}
#GuideHead
{
	border-radius:50% ;
	width: 80px;
	height: 80px;
}
.guideFee
{
	margin-top: 3%;
	height: 30px;
	width: 140px;
}
.guideLevel
{
	height: 30px;
	width: 140px;
}
.guideNum
{
	height: 30px;
	width: 140px;
}
.head img
{
	width: 85%;
	margin-left: 5%;
	margin-top: 10%;
}
.name img
{
	width: 30%;
	margin-left: 2%;
	margin-top: 3%;
}
.leftIcon
{
	width: 20%;
	margin-top: 2%;
}
.spanText
{
	width: 60px;
	font-size: 0.7em;
	display: inline-block;
	position: relative;
	top: -6px;
}
.spanInfo1
{
	/*border: 1px solid red;*/
	display: inline-block;
	width: 30px;
	position: relative;
	left: -10px;	
	top: -4px;
}
.spanInfo
{
	/*border: 1px solid red;*/
	display: inline-block;
	width: 30px;
	position: relative;
	/*left: 76px;*/	
	top: -5px;
}
.detailInfo
{
	width: 30%;
	height: 100%;
	/*border: 1px solid blue;*/
	display: inline-block;
	float: left;
	margin-left: 3%;
}
.isOrder
{
	width: 30%;
	height: 100%;
	/*border: 1px solid green;*/
	float: left;
	margin-left: 4%;
}
.order
{
	background: url(../img/5-11立即预约.png) no-repeat;
	background-size:100% ;
	border: none;
	width: 70%;
	color: white;
	height: 50%;
	padding:7px;
	vertical-align: middle;
	margin-top: 30%;
	font-size: 1.1em;
	margin-left: 15%;
	padding-bottom: 9px;
}
.GuideSexMale
{
	color: blue;
	border: 1px solid blue;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 8pt;
	margin-left: 6px;
}
.GuideSexFemale
{
	color: red;
	border: 1px solid red;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 8pt;
	margin-left: 6px;
}
