html,body
{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
body
{
	/*background: url(../img/拼团首页大底图.png) no-repeat;
	background-size:cover;*/
}
.content img
{
	width: 30%;
	margin-left: 40%;
	margin-top: 30%;
}
.text
{
	color: white;
	text-align: center;
	margin:20% 5%;
	font-size: 0.8em;
}
.buttonSelect
{
	margin-top: 30%;
	width: 86%;
	margin-left:10%;
	margin-top: 100px;
}
#Select,#Pin
{
	width: 40%;
	background-color:#2897f9;
	background-size:cover;
	padding: 10px 25px;
	border-radius: 3px;	
	color: white;
	font-size: 1.1rem;
	font-family: "times new roman";
	border: none;
}
#Pin
{
	margin-left:10%;
}