<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <welcome-file-list>
    <welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
  </welcome-file-list>
  
 <servlet>
  	<servlet-name>weixinServlet</servlet-name>
    <servlet-class>com.TourGuide.Servlet.weixinServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>oauthServlet</servlet-name>
  	<servlet-class>com.TourGuide.Servlet.OAuthServlet</servlet-class>
  </servlet> 
  
  <servlet>
  	<servlet-name>notifyServlet</servlet-name>
  	<servlet-class>com.TourGuide.Servlet.notifyServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>PayServlet</servlet-name>
  	<servlet-class>com.TourGuide.Servlet.PayServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>topayServlet</servlet-name>
  	<servlet-class>com.TourGuide.Servlet.topayServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>SpringMvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/Service.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  
  
  <servlet-mapping>
    <servlet-name>weixinServlet</servlet-name>
    <url-pattern>/weixinServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>oauthServlet</servlet-name>
    <url-pattern>/oauthServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpringMvc</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>notifyServlet</servlet-name>
    <url-pattern>/NotifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>topayServlet</servlet-name>
    <url-pattern>/TopayServlet</url-pattern>
  </servlet-mapping>


<filter>
		<filter-name>SetCharacter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>